{% extends "base.jinja2" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <div class="jumbotron">
                    <span class="label label-info pull-right">In English</span>
                    <h1>Alexey Boriskin</h1>
                    <p>Born March 18, 1986 in Izhevsk, Russia. Currently I live in Penza, Russia but plan to move to Moscow.</p>
                    <p>
                        I am a software developer, a web developer in particular.
                        Most of my developer life I've been programming on Python. I've started using Python in 2008, so it's 6 years for now.
                        I have even taught free Python <a href="http://vk.com/pythonpenza">courses</a>.
                        I love Python, but nevertheless I have some understanding and expirience (in the order of decrease) with
                        Javascript, HTML and CSS, PHP, C and C++.
                    </p>
                    <h2>Profiles and contact</h2>
                    <p>
                    You can always drop a letter on <a href="mailto:alexey@boriskin.me">alexey@boriskin.me</a>
                    </p>
                    <p>
                        Besides that, you may find interesting:
                    </p>
                    <ul>
                        <li>
                            <a href="http://github.com/uruz/">my Github profile</a>
                        </li>
                        <li>
                            <a href="http://twitter.com/login_required">personal Twitter account</a>
                        </li>
                        <li>
                            <a href="http://facebook.com/libastral.so">Facebook profile</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/alexeyboriskin">LinkedIn in profile</a>
                        </li>
                    </ul>
                    <p>
                        Ah, and I look something like that:
                        <img src="https://pp.vk.me/c616526/v616526230/d214/CtYeEuJ1Vns.jpg" style="width: 550px;" />
                    </p>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="jumbotron">
                    <span class="label label-info pull-right">По-русски</span>
                    <h1>Алексей Борискин</h1>
                    <p>Родился 18 марта 1986 года в Ижевске (на тот момент он назывался <a href="https://ru.wikipedia.org/wiki/%D0%98%D0%B6%D0%B5%D0%B2%D1%81%D0%BA#.D0.9D.D0.B0.D0.B7.D0.B2.D0.B0.D0.BD.D0.B8.D0.B5">Устинов</a>).
                        Сейчас я живу в Пензе, но собираюсь переехать в Москву.
                    </p>
                    <p>
                        Я — разработчик программного обеспечения, в основном я занимался тем, что делал сайты.
                        Начиная с 2008 года я программирую на языке программирования Python (Питон), так что, получается, занимаюсь этим уже 6 лет.
                        Однажды я даже провёл <a href="http://vk.com/pythonpenza">курсы</a> по Питону.
                    </p>
                    <h2>Контакты и присутствие в сети</h2>
                    <p>
                        Вы всегда можете связаться со мной, написав по адресу <a href="mailto:alexey@boriskin.me">alexey@boriskin.me</a>
                    </p>
                    <p>
                        Кроме того, если вам интересно, у меня есть:
                    </p>
                    <ul>
                        <li>
                            <a href="https://github.com/uruz/">аккаунт на гитхабе</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/login_required">твиттер</a>
                        </li>
                        <li>
                            <a href="https://facebook.com/libastral.so">фейсбук</a>
                        </li>
                        <li>
                            <a href="https://vk.com/id4568">вконтакте</a>
                        </li>
                        <li>
                            <a href="https://void.moikrug.ru/">мойкруг</a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/alexeyboriskin">линкедын</a>
                        </li>
                    </ul>
                    <p>
                        Да, выгляжу я как-то так:
                        <img src="https://pp.vk.me/c616526/v616526230/d214/CtYeEuJ1Vns.jpg" style="width: 550px;" />
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
